@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


@font-face {
    font-family: ninja;
    src: url("./fonts/NeverSettleDemo-z8dnX.ttf");
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0;
    /* overflow: hidden; */
}
.flex{
    display: flex;
}
.spc-btwn{
    justify-content: space-between;
}
.grid{
    display: grid;
}
.none{
    display: none;
}

/* start page  */
.start-background-video-container{
    width: inherit;
    height: inherit;
}
.start-background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
}


.start-buttons{
    width: 260px;
    height: 220px;
    padding: 20px 0 30px 0;
    background-image: url("http://officialpsds.com/imageview/rk/jm/rkjm8j_large.png?1521316491");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 280px;
    justify-content: space-evenly;
    
}
.start-button-container{
    width: 110px;
    height: 50px;
    background-size: 110% 120%;
    border-radius: 20px;
    background-position: center;
    background-image:url("https://images.freeimages.com/images/large-previews/16a/gil-s-old-sheet-of-paper-1195208.jpg");
    position: relative;
    animation: movement 3s infinite;
}
.about-game-button-container{
    width: 200px;
    height: 50px;
    background-size: 110% 120%;
    border-radius: 20px;
    background-position: center;
    background-image:url("https://images.freeimages.com/images/large-previews/16a/gil-s-old-sheet-of-paper-1195208.jpg");
    position: relative;
    animation: movement 3s infinite;
    
}
.start-button,.about-game-button{
    border: none;
    padding: 10px 20px;
    letter-spacing: 3px;
    color: #510D0A;
    font-size: 25px;
    font-weight: 900;
    background-color: inherit;
    border-radius: 10px;
    font-family: ninja;
}
.start-button:hover,.about-game-button:hover{
    color: #A6D9F7;
    animation: forwards;
    cursor: pointer;
}
@keyframes movement {
    from {height: 50px;}
    to {height:52px;}
}

/* --------------------------------------- */

/* play page */
.play-background-video-container{
    width: inherit;
    height: inherit;
}
.play-background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
}

.absolute-navbar{
    position: fixed;
    color: #f1f1f1;
    width: 100%;
    padding: 25px 50px;
}
.navbar{
    justify-content: space-between;
    color: red;
}
.absolute-contents{
    font-family: ninja;
    position: relative;
    top: 90px;
    letter-spacing: 2px;
    height: 500px;
    width: 600px;
    background-image: url("./img/1555951006_4327-removebg-preview.png");
    background-size: 100% 100%;
    color: #f1f1f1;
  }
.player-name,.mode,start-game{
    width: 200px;
}
.name-mode-start{
    width: inherit;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 100px 0 120px 0;
}
.player-name{
    padding: 10px;
    width: 250px;
    height: 40px;
    border: none;
    border-radius: 10px;
    color: #510D0A;
    font-size: 25px;
    font-weight: 900;
    background-position: center;
    background-image:url("https://images.freeimages.com/images/large-previews/16a/gil-s-old-sheet-of-paper-1195208.jpg");
    position: relative;
    animation: movement 3s infinite;
    font-family: ninja;
    letter-spacing: 4px;
}
#player-name-text{
    color:#510D0A;
    font-weight: 900;
    font-size: 24px;
}
.how-to-play{
    background-color: transparent;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}
.how-to-play:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.732);
}

.mode{
    width:270px ;
    padding:10px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #510D0A; 
    background-position: center;
    background-image:url("https://images.freeimages.com/images/large-previews/16a/gil-s-old-sheet-of-paper-1195208.jpg");
    position: relative;
    animation: movement 3s infinite;
}
.select-mode-text{
    font-weight: 900;
    font-size: 23px;
}
.start-game{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 23px;
    color: #510D0A;
    font-weight: 900;
    background-position: center;
    background-image:url("https://images.freeimages.com/images/large-previews/16a/gil-s-old-sheet-of-paper-1195208.jpg");
    position: relative;
    animation: movement 3s infinite;
    font-family: ninja;
    letter-spacing: 3px;
}
.options{
    border: none;
    background-color:#ffffff83;
    border-radius: 10px;
    color: #510D0A;
    font-weight: 900;
    height: 25px;
    font-size: 20px;
    font-family: ninja;
    letter-spacing: 2px;
}
.player-name:hover,.start-game:hover,.mode:hover{
    color: #000000;
    cursor: pointer;
}
::placeholder{
    color:#510D0A;
}

/* ------------------------------------------------ */
/* how to play page  */


.main-how-to-play{
    width: 100vw;
    height: 100vh;
    background-image: url("./img/instruction-img.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.how-navbar{
    padding: 2% 42% 2% 3%;
    justify-content: space-between;
}
.instructions{
    padding: 1% 6%;
    margin: 30px 0 0 100px;
    width: 50%;
    height: 80%;
    flex-shrink: 0;
    line-height: 175%;
    font-size: 26px;
    border-radius: 20px;
    color: white;
    letter-spacing: 3px;
    font-weight: 900;
    background: rgba(0, 0, 0, 0.485);
}
.instructions ul{
    width: 650px;
}
.how-to-play-container{
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 40px;
    font-size: 30px;
    padding: 1px 5px;
    font-weight: 900;
}
.left-arrow{
    padding: 5px;
    border-radius: 5px;
    background-color: white;
}
.left-arrow:hover{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.44);
}

/* ------------------------------------- */
/* game page  */
.main-game{
    width: 100vw;
    height: 100vh;
    background-image: url("./img/game\ scroll\ bg.png");
    background-size: 100%;
    background-position:top center;
    background-repeat: no-repeat;
}
.game-container{
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    padding: 4% 20% 0 20%;
}
.name-of-players{
    padding: 20px 150px 10px 150px;
}
.player1-name,.player2-name{
    background-color: #AB651D;
    border-radius: 10px;
    height: 50px;
    width: 360px;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 25px ;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
.num-of-swords{
    align-self: center;
}
.vs-img{
    height:60px;
    width: 200px;
}
.soldiers,.hero,.villain{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    padding: 1px;
    border: 1px solid grey;
}
.game-container img{
    width: 97px;
    height: 95px;
}
.soldiers:hover,.hero:hover,.villain:hover{
    cursor: pointer;
}
#swordnum{
    position: relative;
    bottom: 100px;
    font-size: 20px;
    color: #510D0A;
    font-weight: 900;

}
.timer{
    padding: 10px 20px;
    font-size: 40px;
    color: white;
    border: 2px solid grey;
}
/* ------------------------------- */

/* result page  */

.main-result{
    padding: 9.5% 10% 5% 5%;
    width: 100vw;
    height: 100vh;
    background-image: url("./img/result.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
    flex-direction: column;
}
.win-or-lose-container{
    font-family: ninja;
    word-spacing: 5px;
    letter-spacing: 10px;
    padding: 1%;
    width: 800px;
    height: 100px;
    font-size: 55px;
    color: white;
}
.play-again-button,.quit-button{
    border: none;
    border-radius: 40px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
}
.playagain-quit{
    width: 350px;
}
.play-again-button:hover,.quit-button:hover{
    cursor:pointer;
}

/* ------------------------------- */
/* about page  */

.main-about{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images-ng.pixai.art/images/orig/ae34ec6b-723b-4067-84b4-fa9ddd15f5da");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #ffffff;
    padding: 1% 18%;
    line-height: 36px;
    word-spacing: 5px;
    letter-spacing: 2px;
    
}
.para-container{
    text-align: justify;
    padding: 3%;
    background-color: #000000a2;
    border-radius: 20px;
    font-size: 25px;
    font-size: 900;
}

@media (orientation: landscape) and (max-width: 480px) {

    /* start page */

    .start-buttons{
        padding: 0;
        width: 130px;
        height: 100px;
        right: 20px;
        top: 70px;
    }
    .start-button-container{
        padding: 1px 8px;
        width: 50px;
        height: 19px;
        background-size: 100%;
        background-repeat: no-repeat;
        animation: none;
    }
    .about-game-button-container{
        padding: 2px 6px 0 6px;
        width: 90px;
        height: 19px;
        background-size: 100%;
        background-repeat: no-repeat;
        animation: none;
    }
    .start-button,.about-game-button{
        padding: 0 0 5px 0;
        font-size: 12px;
        height: 10px;
        border-radius: 1px;
        letter-spacing: 2px;
    }

    /* play page  */

    .play-background-video-container{
        width: inherit;
        height: inherit;
    }
    .play-background-video {
        position: fixed;
        right: 0;
        bottom: 0;
        width: auto;
        height: 100%;
    }
    
    .absolute-navbar{
        position: fixed;
        color: #f1f1f1;
        width: 100%;
        padding: 12px 10px;
    }
    .navbar{
        justify-content: space-between;
        color: red;
    }
    .absolute-contents{
        font-family: ninja;
        position: relative;
        top: 20px;
        letter-spacing: 2px;
        height: 200px;
        width: 200px;
        background-image: url("./img/1555951006_4327-removebg-preview.png");
        background-size: 100% 100%;
        color: #f1f1f1;
      }
    .player-name,.mode,start-game{
        width: 50px;
    }
    .name-mode-start{
        width: inherit;
        height: 200px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-content:safe;
        padding: 1px 0 1px 0;
    }
    .player-name{
        padding: 0px;
        width: 100px;
        height: 20px;
        border-radius: 10px;
        font-size: 12px;
        animation: none;
        letter-spacing: 4px;
    }
    #player-name-text{
        font-size: 12px;
    }
    .how-to-play{
        padding: 1px;
        border-radius: 5px;
    }
    .mode{
        width:100px ;
        padding:0px;
        font-size: 12px;
        animation: none;
    }
    .select-mode-text{
        font-size: 12px;
    }
    .start-game{
        width: 100px;
        height: 20px;
        border-radius: 10px;
        text-align: center;
        font-size: 12px;
        animation: none;
        letter-spacing: 1px;
    }
    .options{
        border-radius: 10px;
        height: 15px;
        font-size: 12px;
        letter-spacing: 1px;
    }

}
